.img-icon{
    width: 100%;
    max-width: 50px;
    height: auto;
&:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
}

.img-small{
    width: 100%;
    max-width: 100px;
    height: auto;
&:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
}

.img-medium{
    width: 100%;
    max-width: 150px;
    height: auto;
&:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
}
.img-large{
    width: 100%;
    max-width: 300px;
    height: auto;
&:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
}
.img-xlarge{
    width: 100%;
    max-width: 500px;
    height: auto;
&:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
}